@import "compass/css3";
@import "bourbon";
@import "mediaquery/mediaquery";
@import "components/mixins";
@import "ethic/vars";
@import "ethic/base";

html,
body {
  overflow-x:hidden;
  margin: 0 !important;
  padding: 0 !important;
}

img {
  height: auto;
  width: 100%;
}
