@import "compass/css3";
@import "bourbon";
@import "mediaquery/mediaquery";
@import "components/mixins";
@import "ethic/vars";
@import "ethic/base";

body {
	@extend %body;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
