<section class="content blue" id="register">
  <div class="wrapper">
    <div class="row">
      <h2><strong>Availability</strong></h1>
      <p data-sr="enter top, move 50px, over 1s">Ethic will soon start auto coverage in California. Let’s stay in touch!</p>
      <form class="form" action="/register-beta" method="post" data-parsley-validate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <fieldset>
          <input type="email" name="email" id="subscriber" required data-required="true" data-trigger="change" data-parsley-type="email" class="js-register-email"/>
          <label id="subscriber">Your email</label>
          <button type="submit"><i class="send js-register-submit"></i></button>
        </fieldset>
      </form>
      <a href="/faq" title="Have a question?" class="js-have-question"><small>Have a question?</small></a>
    </div>
  </div>
</section>
