<meta name="description" content="Mutual Coverage, the new way." />
<meta name="author" content="Ethic" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta property="og:title" content="Ethic | Mutual Coverage" />
<meta property="og:description" content="Mutual Coverage, the new way." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://getethic.com<%- locals.path %>" />
<meta property="og:image" content="img/ios/og-image.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="msapplication-TileImage" content="img/ios/ms-144x144.png"/>
<meta name="msapplication-TileColor" content="#49c5df"/>

<link rel="icon" type="image/png" href="img/ios/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/ios/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="img/ios/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/ios/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/ios/favicon-16x16.png" sizes="16x16">
<link rel="apple-touch-icon" sizes="57x57" href="img/ios/ios-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="img/ios/ios-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="img/ios/ios-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="img/ios/ios-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/ios/ios-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="img/ios/ios-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="img/ios/ios-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="img/ios/ios-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="img/ios/ios-180x180.png" />
<link rel="apple-touch-startup-image" href="img/ios/ios-320x460.png" />
