@import "fonts";

%body {
	background-color:$white;
	font-family:$font-light, Arial;
	font-size: $base-font-size;
	color:$light-blue;
	padding:0 !important;
	min-width:320px;
	
	// @include font-smoothing(antialiased);
}

a {
	text-decoration:none;
	outline:none;
	color:inherit;
}

h1 {
	text-align: center;
	font-family: $font-bold;
	font-size: 40px;
	color: $white;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-family: $font-bold;
	color: $blue;
	margin: 50px 0;
	
	&:after {
		display: block;
		background-color: $blue;
		content: '';
		margin: 10px auto; 
		height: 1px;
		width: 75px;
	}
}

em { font-style:normal; }

strong,
b {
	font-family: $font-bold;
}

p {
	text-align: center;
	line-height: 25px;
}

.page {
	z-index:4;
	position:relative;
	@include clearfix;

	@include for-mobile-only {
		min-width:320px;
	}
}

.wrapper {
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
	@include clearfix;

	@include for-tablet-and-up { 
		margin:80px auto;
		padding:0;
		width:740px;
	}
	
	@include for-desktop-and-up { width:1000px; }

}

@import "mixins",
				"grid";

@import "header",
				"hero",
				"nav",
				"form",
				"footer";