.box {
  text-align: center;
  margin: 50px 0;
  
  @include for-tablet-and-up {
    margin: auto;
  }
  
  img {
    display: block;
    margin: auto;
    height: 60px;
    width: 60px;
  }
}

.box2 {
  p {
    text-align: justify
  }
}
