.claims {
	position: relative;
	
	@include for-desktop-and-up {
		height: 500px;
	}
	
	.small,
	.large {
		@include transition(opacity .2s);
	}
	
	.large {
		position: absolute;
		top: 0;
		height: 0;
		width: 100%;
		@include opacity(0);
	}
	
	&.active {
		.large {
			height: 404px;
			@include opacity(1);
		}
	}
}