.faq {
	
	.question {
		position: relative;
		display: block;
		border-bottom: 1px solid $bg;
		padding: 20px;
		
		@include transition(all .2s);
		
		ul {
			margin: 0;
		}
		
		span {
			display: block;
			cursor: pointer;
			color: $light-blue;
			margin: 0 20px 0 0;
			
			@include transition(height .2s $ease-out-quint);
			
			@include for-desktop-and-up {
				margin: 0;
			}
			
			&:hover {
				color: $blue;
			}
			
			&:after,
			&:before {
				display: block;
				position: absolute;
				background-color: $light-blue;
				content: '';
				top: 30px;
				// margin-top: -(5px/2);
				height: 1px;
				width: 11px;
				
				@include transition(all .2s $ease-out-quint);
			}
			
			&:before {
				right: 27px;
				
				@include transform(rotate(45deg));
				
			}
			
			&:after {
				right: 20px;
				
				@include transform(rotate(-45deg));
				
			}
		}
		
		a {
			text-decoration: underline;
		}
		
		.answer {
			display: block;
			text-align: left;
			color: $blue;
			font-family: $font-bold;
			padding: 0 20px 0 0;
			margin: 0;
			max-height: 0;
			
			@include opacity(0);
			@include transition(all .2s);
		}
		
		&.expanded {
			border-bottom: 2px solid $blue;
			
			a {
				color: $blue;	
			}
			
			span {
				color: $blue;
				
				&:before,
				&:after {
					background-color: $blue;
				}
				
				&:before {
					@include transform(rotate(-45deg));
					
				}
				
				&:after {
					@include transform(rotate(45deg));
					
				}
			}
			
			.answer {
				padding: 20px 20px 20px 0;
				max-height: 500px;
				@include opacity(1);
			}
		}
	}
}