.footer {
	background-color: $mid-blue;
	text-align: center;
	font-size: 11px;
	color: $white;
	padding: 20px 0;

  .copyright {
    float: left;
    margin-left: 10px;
    width: 100px;
    display: inline-block;
  }

  .love {
    margin-left: -110px;
    display: inline-block;
  }
}
