#register {	
	a {
		display: block;
		text-decoration: underline;
		text-align: center;
		margin: auto;
		width: 40%;
		
		@include for-tablet-and-up {
			width: 15%;
		}
	}
}

form {
	font-size: 0;
	margin: auto;
	
	@include for-tablet-and-up {
		width: 390px;
	}
}

fieldset {
	position: relative;
	border: 0;
	outline: none;
	padding: 0;
	margin: 0 0 50px 0;
	
	@include for-tablet-and-up {
		background-color: $mid-blue;
	}
}

label {
	z-index: 2;
	position: absolute;
	color: $white;
	text-transform: uppercase;
	font-family: $font-bold;
	font-size: 16px;
	left: 5%;
	top: 55%;
	margin-top: -(22px/2);
	pointer-events: none;
	
	@include transition(all .2s);
	
	@include for-tablet-and-up {
		top: 50%;
	}
}

input[type="email"].input--filled + label {
	top: 35%;
	font-size: 11px;
}

input[type="email"] {
	display: inline-block;
	background-color: $mid-blue;
	border: 0;
	color: $white;
	text-transform: uppercase;
	font-size: 11px;
	vertical-align: top;
	padding: 10% 5% 4% 5%;
	width: 70%;
	
	@include placeholder {color: $white;}
	@include border-radius(0);
	
	@include for-tablet-and-up {
		padding: 30px 20px 10px 20px;
		width: 269px;
	}
}

button {
	display: inline-block;
	background-color: $mid-blue;
	border-left: 1px solid $blue !important;
	padding: 7%;
	width: 20%;
	
	@include for-tablet-and-up {
		padding: 24px 30px;
		width: auto;
	}
	
	@include for-desktop-and-up {		
		&:hover {
			background-color: $white;
			
			.send {
				background: url(../img/svg/arrow-blue.svg);
			}
		}
	}
	
	.send {
		display: block;
		background: url(../img/svg/arrow-white.svg);
		margin: auto;
		height: 14px;
		width: 14px;
		
		@include for-tablet-and-up {
			height: 15px;
			width: 15px;
		}
	}
	
}

.btn {
	display: block;
	background-color: $blue;
	text-align: center; 
	padding: 20px 40px;
	width: 200px;
	
	@include for-desktop-and-up {
		&:hover {
			background-color: $mid-blue;
		}
	}
	
	&.claims {
		margin: 50px auto auto;
		height: 20px;
	}
}

.btn,
input,
button {
	z-index: 1;
	position: relative;
	border: 0;
	color: $white;
	text-transform: uppercase;
	margin: auto;
	
	@include transition(background-color .2s);
}

.parsley-errors-list {
	position: absolute;
	background-color: $error;
	list-style: none;
	right: -200px;
	top: -6px;
	padding: 10px;
	
	&:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			left: -4px;
			bottom: 16px;
			border-width: 9px 9px 0 0;
			border-style:solid;
			border-color:transparent $error;

			@include transform(rotate(135deg));
		}
}
