.availability {
	background-color: $blue;
	color: $white;
	padding: 30px 0;
	
}

form {
	margin: auto;
	
	@include for-tablet-and-up {
		width: 390px;
	}
}

fieldset {
	position: relative;
	border: 0;
	outline: none;
	padding: 0;
	margin: 0;
	
	@include for-tablet-and-up {
		background-color: $mid-blue;
	}
}

input[type="email"] {
	display: inline-block;
	background-color: $mid-blue;
	border: 0;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	font-family: $font-bold;
	vertical-align: top;
	padding: 6%;
	margin: 1% auto;
	width: 88%;
	
	@include placeholder {color: $white;}
	@include border-radius(0);
	
	@include for-tablet-and-up {
		text-align: left;
		margin: auto;
		padding: 20px;
		width: 269px;
	}
}

button {
	display: block;
	background-color: $mid-blue;
	padding: 6%;
	width: 100%;
	
	@include for-tablet-and-up {
		display: inline-block;
		border-left: 1px solid $blue !important;
		padding: 24px 30px;
		width: auto;
	}
	
	@include for-desktop-and-up {		
		&:hover {
			background-color: $white;
			
			.send {
				background: url(../img/svg/arrow-blue.svg);
			}
		}
	}
	
	.send {
		display: block;
		background: url(../img/svg/arrow-white.svg);
		margin: auto;
		height: 15px;
		width: 15px;
	}
	
}

.btn {
	display: block;
	background-color: $blue;
	text-align: center; 
	padding: 20px 40px;
	width: 200px;
	
	@include for-desktop-and-up {
		&:hover {
			background-color: $mid-blue;
		}
	}
}

.btn,
input,
button {
	z-index: 1;
	position: relative;
	border: 0;
	color: $white;
	text-transform: uppercase;
	margin: auto;
	
	@include transition(background-color .2s);
}

.parsley-errors-list {
	position: absolute;
	background-color: $error;
	list-style: none;
	right: -200px;
	top: -6px;
	padding: 10px;
	
	&:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			left: -4px;
			bottom: 16px;
			border-width: 9px 9px 0 0;
			border-style:solid;
			border-color:transparent $error;

			@include transform(rotate(135deg));
		}
}
