@include for-mobile-and-up {
	@include new-grid(
		$name: 'mobile-layout',
		$columns: 12,
		$gutter-width: 2%,
		$fit: true
	);

	.row {
		@extend %mobile-layout-grid;
	}
}

@include for-tablet-and-up {
	@include new-grid(
		$name: 'tablet-layout',
		$columns: 12,
		$gutter-width: 2%,
		$fit: true
	);

	.row {
		@extend %tablet-layout-grid;
	}

	.box2 {
		@extend %tablet-layout-cell-6;
	}
	.box3 {
		@extend %tablet-layout-cell-4;
	}
}

@include for-desktop-and-up {
	@include new-grid(
		$name: 'desktop-layout',
		$columns: 12,
		$gutter-width: 2%,
		$fit: true
	);

	.row {
		@extend %desktop-layout-grid;
	}
}
