.heading {
	z-index: 10;
	position: relative;
}

.header {
	z-index:4;
	position:absolute;
	display:block;
	height:100px;
	width: 100%;

	.logo {
		z-index: 1;
		position:absolute;
		top: 30px;
		left: 16px;
		width: 60px;
		
		@include for-tablet-and-up {
			left: 30px;
		}

		strong {
			display:block;
      background: url(../img/svg/logo.svg);
      height: 30px;
      width: 60px;
      
			@include hide-text;
		}
	}
}
