.heading {
	z-index: 10;
	position: relative;
}

.header {
	z-index: 4;
	position: absolute;
	display: block;
	height: 100px;
	width: 100%;

	.logo {
		z-index: 1;
		position:absolute;
		top: 35px;
		left: 16px;
		width: 60px;
		
		@include for-tablet-and-up {
			left: 30px;
		}

		strong {
			display:block;
      background: url(../img/svg/logo.svg);
      height: 30px;
      width: 60px;
      
			@include hide-text;
			
			// .home & {
			// 	background: url(../img/svg/logo.svg);
			// }
			
			.sticky & {
				background: url(../img/svg/logo-blue.svg);
			}
		}
	}
	
	&:before {
		background-color: $white;
		display: block;
		content: '';
		height: 100px;
		margin-top: -100px;
		
		@include transition(all .3s $ease-in-out-quint);
	}
	
	.sticky & {
		position: fixed;
		
		.visible & {
			position: absolute;
		}
		
		&:before {
			margin-top: 0;
			
			@include opacity(.95);
		}
	}
}

.call {
	position: absolute;
	background-color: $mid-blue;
	text-decoration: none;
	color: $white;
	right: 100px;
	top: 30px;
	padding: 10px;
	
	@include border-radius(30px);
	
	.sticky & {
		color: $light-blue;
	}
	
	@include for-desktop-and-up {
		background-color: transparent;
		top: 37px;
		padding: 0;
	}
	
	span {
		@extend %visible-for-desktop-and-up;
	}
	
	.icon-call {
		display: block;
		background: url(../img/svg/call.svg) no-repeat;
    height: 20px;
    width: 20px;
    
    @extend %hidden-for-desktop-and-up;
	}
}