.heading {
	z-index: 999;
	position: relative;
}

.header {
	z-index:4;
	position:absolute;
	display:block;
	height:100px;
	width: 100%;

	.logo {
		z-index: 1;
		position:absolute;
		top: 30px;
		left:30px;
		width:60px;

		@include for-tablet-only {
			left:50%;
			margin-left:-(60px/2);
		}

		strong {
			display:block;
      background: url(../img/svg/logo.svg);
      height: 30px;
      width: 60px;
      
			@include hide-text;
		}
	}
}
