.hero {
	position: relative;
	background-color: $very-light-gray;
	overflow: hidden;
	min-height: 300px;
	height: 100vh;
	
	@include for-tablet-and-up {
		height: auto;
	}
	
	.home & {
		background-color: $black;
	}
		
	.hero-banner {
		display: block;
		background: url(../img/mocks/m_san-francisco.jpg) no-repeat center center;
		background-size: auto 100vh;
		
		@include for-mobile-only {
			height: 100%;
			width: auto;	
			max-width: auto;	
		}
		
		@include for-tablet-and-up {
			background: url(../img/mocks/san-francisco.jpg) no-repeat;
			background-size: 100% auto;
			min-height: 450px;
		}
		
		@include for-desktop-and-up {
			min-height: 600px;
		}
		
		@include hide-text;
		@include opacity(.5);
	}
	
	.hero-baseline {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top:-(131px/2);
		width: 100%;
		
		.home & {
			margin-top:-(200px/2);
		}
		
		h1 {
			margin-bottom: 50px;
		}
		
		p {
			color: $white;
		}
		
		.btn {
			text-align: left;	
			
			@include for-desktop-and-up {
				&:hover {
					.arrow {
						@include animation(move-right 1s infinite);
						
						@include keyframes(move-right) {
						  0% { opacity: 1; left: 230px; }
						  25% { opacity: 0; left: 260px; }
						  50% { opacity: 0; left: 200px; }
							100% { opacity: 1; left: 230px; }
						}
					}
				}
			}
		}
		
		.arrow {
			position: absolute;
			top: 23px;
			right: 0;
			margin-right: 40px;
			height: 15px;
			width: 15px;
			
			@include opacity(1);
		} 
	}

	p {
		color: $white;
		font-size: 20px;
	}
}
