.hero {
	position: relative;
	background-color: $black;
	overflow: hidden;
	max-height: 600px;
	
	.hero-banner {
		@include opacity(.5);
	}
	
	.hero-baseline {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top:-(200px/2);
		width: 100%;
		
		h1 {
			margin-bottom: 50px;
		}
		
		.btn {
			text-align: left;	
			
			@include for-desktop-and-up {
				&:hover {
					.arrow {
						margin-right: -100px;
						@include opacity(0);
					}
				}
			}
		}
		
		.arrow {
			position: absolute;
			top: 23px;
			right: 0;
			margin-right: 40px;
			height: 15px;
			width: 15px;
			
			@include opacity(1);
		} 
	}
}