.menu {
	position: fixed;
	z-index: 999;
	text-align: center;
	top: 35px;
	right: 16px;
	
	.visible & {
		@include transform(rotate(180deg));
		
		.line02 {
			@include opacity(0);
		}
		.line01 {
			@include transform(rotate(45deg));
		}
		.line03 {
			margin-top: -10px;
			@include transform(rotate(-45deg));
		}
	}
	
	@include for-tablet-and-up {
		right: 30px;
		
		@include transition(all 1s $ease-out-quint);
		
		.visible & {
			right: 135px;
		}
	}
	
	@include for-desktop-and-up {
		&:hover {
			.line01 {
				@include animation(move1 1s infinite);
				
				@include keyframes(move1) {
				  0% { width:100%; }
				  10% { width:90%; }
				  30% { width:70%; }
				  50% { width:50%; }
				  70% { width:70%; }
				  90% { width:90%; }
				  100% { width:100%; }
				}
				
				.visible & {
					@include animation(move1 0s infinite);
				}
			}
			
			.line02 {
				@include animation(move2 1s infinite);
				
				@include keyframes(move2) {
				  0% { width:100%; }
				  25% { width:20%; }
					50% { width:50%; }
					100% { width:100%; }
				}
			}
			
			.line03 {
				@include animation(move3 1s infinite);
				
				@include keyframes(move3) {
				  0% { width:20%; }
				  25% { width:80%; }
					50% { width:60%; }
					100% { width:20%; }
				}
				
				.visible & {
					@include animation(move3 0s infinite);
				}
			}
		}
	}
}

.line {
	width: 30px;
}

.line01,
.line02,
.line03 {
	display: block;
	background-color: $white;
	margin: 4px auto;
	height: 1px;
	
	@include opacity(1);
	@include transition(all .2s);
	
	.bgscroll & {
		background-color: $light-blue;
		
		.visible & {
			background-color: $white;
		}
	}
}

@include for-tablet-and-up {
	padding: 10px;
}

.nav {
	position: fixed;
	background-color: $blue;
	color: $white;
	font-size: em(25px); 
	text-align: center;
	list-style: none;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 60px 0;
	margin: 0 -300px 0 0;
	width: 300px;
	
	@include transition(all 1s $ease-out-quint);
	
	.visible & {
		z-index: 990;
		margin: 0;
	}
	
	li {
		&:after {
			display: block;
			background-color: $white;
			content: '';
			margin: auto;
			height: 1px;
			width: 0;
			
			@include transition(width .2s);
		}
		
		&:hover {
			&:after {
				width: 30%;
			}
		}
		
		a {
			display: block;
			padding: 20px 40px;;
		}
	}
}