.profil {
	position: relative;
	margin: 60px 0;
	
	&:nth-child(even) {
		ul {
			&:before {
				left: -150px; 
			}
			
			&:after {
				left: -30px;
			}
		}
	}
		
	&:nth-child(odd) {
		ul {
			&:before {
				left: -150px; 
			}
			
			&:after {
				left: -30px;
			}
			
			@include for-desktop-and-up {
				text-align: right;
				left: 10px;
				
				&:before {
					left: 250px;
				}
				
				&:after {
					left: 240px;
				}
			}
		}
	}
	
	ul {
		display: block;
		list-style: none;
		padding: 0;
		width: 100%;
		
		@include for-mobile-only {
			text-align: center;
		}
		
		@include for-tablet-and-up {
			position: absolute;
			right: 46px;
			top: 50%;
			margin-top: -(132px/2);
			width: 220px;
		}
		
		@include for-desktop-and-up {
			right: 10px;
		}
		
		&:before {
			position: absolute;
			display: block;
			background-color: $light-blue;
			content: '';
			top: 50%;
			height: 1px;
			width: 120px;
		}
		
		&:after {
			position: absolute;
			background-color: $white;
			border: 2px solid $light-blue;
			content: '';
			top: 50%;
			margin-top: -(14px/2);
			height: 10px;
			width: 10px;
			
			@include border-radius(10px);
		}
		
		li {
			&:last-child {
				color: $blue;
			}
		}
	}
}

.profil-picture {
	display: block;
	overflow: hidden;
	margin: auto;
	height: 260px;
	width: 260px;
	
	@include border-radius(260px);
	
	@include for-tablet-only {
		margin: 0 80px;
	}
	
	img {
		z-index: 1;
		display: block;
		height: 100%;
    width: auto;
	}
}