.slider {
	display: block;
	position: relative;
	background-color: $white;
	border: 2px solid $blue;
	color: $blue;
	padding: 10px 0;
	margin: 30px auto;
	width: 255px;
	cursor: pointer;
	
	@include border-radius(40px);
	
	@include transition(all .2s);

	@include for-desktop-and-up {
		&:hover {
			.handle {
				background-color: $blue;
			}
		}
	}

	.handle {
		display: block;
		position: absolute;
		background-color: $white;
		border: 2px solid $blue;
		top: 2px;
		left: 2px;
		margin-left: 0;
		height: 31px;
		width: 31px;
		
		@include border-radius(30px);
		@include transition(all .2s);
		
		@include for-desktop-and-up {
			height: 34px;
			width: 34px;
			
			&:hover {
				background-color: $blue;
			}
		}
	}
	
	.active & {
		background-color: $blue;
		color: $white;
		
		.handle {
			border: 2px solid $white;
			margin-left: 217px;
			
			@include for-desktop-and-up {
				margin-left: 214px;
			}
		}
		
		.slider-small {
			display: none;
		}
		
		.slider-large {
			display: block;
		}
	}
	
	.slider-small,
	.slider-large {
		text-align: center;
	}
	
	.slider-small {
		display: block;
	}
	
	.slider-large {
		display: none;
	}
}

.slider-help {
	text-align: center;
	font-size: 13px;
	font-family: $font-italic;

	.slider-help-small {
		display: inherit;
	}
	.slider-help-large {
		display: none;
	}

	.active & {
		.slider-help-small {
			display: none;
		}
		.slider-help-large {
			display: inherit;
		}
	}
}
