.step {
	text-align: center;
	margin: 80px 0;
	
	.step-number {
		display: inline-block;
		border: 2px solid $blue;
		color: $blue;
		font-size: em(36px);
		line-height: 25px;
		vertical-align: middle;
		padding: 20px;
		height: 25px;
		width: 25px;
		
		@include border-radius(50px);
	}
	
	.step-information {
		position: relative;
		display: block;
		font-family: $font-italic;
		margin: 40px 0; 
		
		.help {
			position: absolute;
			background-color: $light-blue;
			border: 2px solid $white;
			cursor: pointer;
			color: $white;
			font-size: em(13px);
			font-family: $font-bold;
			line-height: 20px;
			padding: 2px;
			margin: 0 5px;
			left: 50%;
			top: -15px;
			margin-left: -(25px/2); 
			height: 20px;
			width: 20px;
			
			@include border-radius(20px);
		}
		
		.step-content {
			display: block;
			border: 1px solid $very-light-gray;
			padding: 10px;
		}
		
		p {
			position: relative;
			display: block;
			text-align: center;
			font-size: em(13px);

			a {
				font-family: $font-italic;
			}
		}
	}

	.step-interested {
		display: block;
		background-color: $blue;
		padding: 6%;
		width: 100%;
		z-index: 1;
		position: relative;
		border: 0;
		color: $white;
		text-transform: uppercase;
		text-decoration: none;
		margin: auto;

		@include transition(background-color .2s);

		@include for-tablet-and-up {
			display: inline-block;
			border-left: 1px solid $blue !important;
			padding: 24px 30px;
			width: auto;

			&:hover {
				border-left: 1px solid $white !important;
			}
		}

		@include for-desktop-and-up {
			&:hover {
				color: $blue;
				background-color: $white;
			}
		}
	}
}
