.step {
	text-align: center;
	margin: 80px 0;
	
	.step-number {
		display: inline-block;
		border: 2px solid $blue;
		color: $blue;
		font-size: em(36px);
		line-height: 25px;
		vertical-align: middle;
		padding: 20px;
		height: 25px;
		width: 25px;
		
		@include border-radius(50px);
	}
	
	.step-information {
		position: absolute;
		display: inline-block;
		
		.help {
			display: inline-block;
			background-color: $light-blue;
			cursor: pointer;
			font-size: em(13px);
			font-family: $font-bold;
			line-height: 20px;
			color: $white;
			padding: 2px;
			margin: 0 5px;
			height: 20px;
			width: 20px;
			
			@include border-radius(20px);
			
			@extend %visible-for-desktop-and-up;
		}
		
		.step-content {
			display: none;
			background-color: $light-blue;
			padding: 0 10px;
			height: 100px;
			width: 250px;
		}
		
		&:hover {
			.step-content {
				position: absolute;
				display: block;
				left: 50px;
				top: 50%;
				margin-top: -(100px/2);
				
				&:after {
					content: "";
					width: 0;
					height: 0;
					position: absolute;
					left: -4px;
					top: 50%;
					margin-top: -(12px/2);
					border-width: 9px 9px 0 0;
					border-style:solid;
					border-color:transparent $light-blue;

					@include transform(rotate(135deg));
				}	
			}
		}
		
		p {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			font-size: em(13px);
			color: $white;
			height: 100px;
		}
	}
}