// $containers
$container-tablet-min-width:669px;
$container-desktop-min-width:1000px;

// $breakpoints
$tablet-min-width:768px;
$desktop-min-width:1016px;


// $fonts
$arial:Arial, sans-serif;
$verdana:Verdana, sans-serif;
$font-normal:"Peugeot Normal";
$font-italic:"Peugeot Italic";
$font-bold:"Peugeot Bold";

// $colors
$white:#ffffff;
$black:#000000;
$bg:#f7f7f7;
