// $fonts
$base-font-size: 17px;
$arial:Arial, sans-serif;
$verdana:Verdana, sans-serif;
$font-light:"Font Light";
$font-italic:"Font Italic";
$font-bold:"Font Semi Bold";

// $colors
$white:#ffffff;
$black:#000000;
$bg:#f7f7f7;

// Gray
$black:#000000;
$gray:#888888;
$gray-gray:#4D4F50;
$light-gray:#efefef;
$very-light-gray:#f7f7f7;

// Blue
$blue:#1e88c9;
$mid-blue:#0679b8;

// Red
$error:#f6413c;
