// $fonts
$base-font-size: 16px;
$arial:Arial, sans-serif;
$verdana:Verdana, sans-serif;
$font-light:"Font Light";
$font-italic:"Font Italic";
$font-bold:"Font Semi Bold";

// $colors
$white:#ffffff;
$black:#000000;
$bg:#f7f7f7;

// Gray
$very-light-gray:#f7f7f7;

// Blue
$light-blue:#78868e;
$blue:#1e88c9;
$mid-blue:#0679b8;

// Red
$error:#f6413c;