<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>

  <style type="text/css">
    {% include "mail/mail.css" %}
  </style>
</head>
<body>
  <table class="body-wrap">
    <tr>
      <td class="container">
        <table>
          <tr>
            <td align="center" class="masthead">

              <h1>Thank you for joining <img class="logo" src="{{ baseDomain }}/img/mail/logo.png" alt="Ethic"/></h1>

            </td>
          </tr>
          <tr>
            <td class="content">

              <h2>Hi there,</h2>

              <p>
                We're so glad to have you on board!
                We're polishing the last details and will be live very soon.
                Stay tuned!
              </p>
              <p>
                In the meantime, don't forget to check out our <a href="#">blog</a>.
              </p>
              <p><em>Ethic team</em></p>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!-- Unsubscribe link is added by mailgun -->
</body>
</html>
