<!doctype html>
<!--[if lt IE 7 ]>	<html lang="fr" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="fr" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="fr" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>		<html lang="fr" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Ethic</title>
	
	<!-- head meta -->
	<% include partials/head-meta.html %>
	<!-- / head meta -->

	<link rel="stylesheet" href="css/normalize.css" /> 
	<link rel="stylesheet" href="css/screen.css" /> 
	<script src="js/build/modernizr.js"></script>


</head>
<body class="home-page">

	<!-- page -->
	<div class="page">
		
		<div class="overlay"></div>

		<!-- heading -->
		<div class="heading">
			<header class="header">
				<a class="logo" href="/" title="Ethic"><strong>Ethic</strong></a>
			</div>
		</header>
		<!-- / heading -->

		<!-- mutual coverage -->
		<div class="hero">
			<div class="hero-baseline">
				<h1 data-sr="enter top, move 10px, over 1s"><strong>Frequently Asked Questions</strong></h1>
			</div>
		</div>
		<!-- / mutual coverage -->
		
		<!-- how it works -->
		<section class="content">
			<div class="wrapper">
				<div class="row">
					<div class="faq">
						<div class="question expanded">
							<span>Is ethic an insurance company ?</span>
							<p class="answer">
								No, Ethic is not. You still have a carrier which will step in forlarger amounts.
							</p>
						</div>
						<div class="question">
							<span>Is ethic transparent ?</span>
							<p class="answer">
								No, Ethic is not. You still have a carrier which will step in forlarger amounts.
							</p>
						</div>
						<div class="question">
							<span>What is a deductible and what does it have to do with Ethic ?</span>
							<p class="answer">
								For example with car insurance, collision deductible means you'll pay out of pocket of the damage. The most common deductible is $500. By raising your deductible up to $2500 depending on your carrier, you pay considerably lower monthly premiums. And the additional out-of-pocket is covered by Ethic members. All you pay monthly is your fair share of other's claims.
							</p>
						</div>
						<div class="question">
							<span>Incase of a claim, do i have to put up with part of the amount ?</span>
							<p class="answer">
								Yes. By means of avoiding fraud and abusive claims (which would harm our members) you still have an out-of-pocket on Ethic. For auto, this out-of-pocket is $250 or $500 depending on who your carrier is.
							</p>
						</div>
						<div class="question">
							<span>What does Ethic cover ?</span>
							<p class="answer">
								For auto insurance, Ethic covers any damage resulting from an at-fault collision. In some cases, Ethic will cover you for non at-fault collisions. Rarer cases such as bodily injuries, theft and vandalism will still be covered by your insurance company.
							</p>
						</div>
						<div class="question">
							<span>What happens if the total damage is superior to your new deductible ?</span>
							<p class="answer">
								Ethic will rapidly cover its share of the damage, and you will file an insurance claim with your traditional carrier so he covers the rest.
							</p>
						</div>
						<div class="question">
							<span>Does Ethic work with my insurer ?</span>
							<p class="answer">
								Here is a <a href="#" title="">list</a> of insurance companies Ethic can be used with. If your current carrier does not appear in this list, please <a href="#" title="">tell us</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- / how it works -->
		
		<!-- availability -->
		<% include partials/availability.html %>
		<!-- / availability -->

		<!-- footer -->
		<footer class="footer">Copyright &copy; 2015</footer>
		<!-- / footer -->
		
		<a class="menu" href="#">
			<div class="line">
				<span class="line01"></span>
				<span class="line02"></span>
				<span class="line03"></span>
			</div>
		</a>
				
		<ul class="nav">
			<li><a href="/how-to-get-started" title="How to get started">How to get started</a></li>
			<li><a href="/faq" title="FAQ">FAQ</a></li>
		</ul>
		
	</div>
	<!-- / page -->
	<script src="js/build/faq.js"></script>

</body>
</html>
