{% extends 'base_page.html' %}

{% block content %}
<!-- hero -->
<div class="hero">
	<div class="hero-baseline">
		<h1 data-sr="enter top, move 10px, over 1s"><strong>How it works</strong></h1>
	</div>
</div>
<!-- / hero -->

<!-- 3 steps -->
<section class="content">
	<div class="wrapper">
		<div class="row">
			<h2><strong>3 simple steps</strong></h2>
				<div class="step">
					<div class="step-number" data-sr="enter bottom, move 5px, over 1s">1</div>
					<p data-sr="enter top, move 50px, over 1s">Register on Ethic. We'll validate you as a member shortly after.</p>
				</div>
				<div class="step">
					<div class="step-number" data-sr="enter bottom, move 5px, over 1s">2</div>
					<p data-sr="enter top, move 50px, over 1s">Call your insurer and raise your deductible to the amount corresponding to <a href="#" title="">your insurance company</a>.</p>
					<p data-sr="enter top, move 50px, over 1s, wait 0.2s">Beware of raising both collision and comprehensive deductibles. This change will be effective the same day.</p>
					<div class="step-information">
						<div class="help" data-sr="enter right, move 50px, over 1s">?</div>
						<div class="step-content">
							<p>Different insurance companies offer different deductibles. Make sure to raise yours to the right amount.</p>
						</div>
					</div>
				</div>
				<div class="step">
					<div class="step-number" data-sr="enter bottom, move 5px, over 1s">3</div>
					<p data-sr="enter top, move 50px, over 1s">Register each of your policies on Ethic. You’re all done!</p>
					<div class="step-information">
						<div class="help" data-sr="enter right, move 50px, over 1s">?</div>
						<div class="step-content">
							<p>For each of your auto policies, you will need your Vehicle Identification Number (VIN)</p></div>
					</div>
				</div>
				<div class="step">
					<a data-sr="enter bottom, move 50px, over 1s" href="#" class="step-interested js-im-interested">
						I'm interested
					</a>
				</div>
		</div>
	</div>
</section>
<!-- / 3 steps -->

{% block scripts %}
<script src="js/build/howitworks.js"></script>
{% endblock %}
