<!doctype html>
<!--[if lt IE 7 ]>	<html lang="fr" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="fr" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="fr" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>		<html lang="fr" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Ethic</title>
	
	<meta name="description" content="Mutual Coverage, the new way." />
	<meta name="author" content="Ethic" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta property="og:title" content="Ethic | Mutual Coverage" />
	<meta property="og:description" content="Mutual Coverage, the new way." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://getethic.com" />
	<meta property="og:image" content="img/ios/og-image.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta name="msapplication-TileImage" content="img/ios/ms-144x144.png"/>
	<meta name="msapplication-TileColor" content="#49c5df"/>
	
	<link rel="icon" type="image/png" href="img/ios/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/ios/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="img/ios/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="img/ios/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="img/ios/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" sizes="57x57" href="img/ios/ios-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="img/ios/ios-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/ios/ios-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/ios/ios-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/ios/ios-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="img/ios/ios-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/ios/ios-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="img/ios/ios-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/ios/ios-180x180.png" />
	<link rel="apple-touch-startup-image" href="img/ios/ios-320x460.png" />

	<link rel="stylesheet" href="css/normalize.css" /> 
	<link rel="stylesheet" href="css/screen.css" /> 
	<script src="js/build/modernizr.js"></script>


</head>
<body class="home-page">

	<!-- page -->
	<div class="page home">
		
		<div class="overlay"></div>

		<!-- heading -->
		<div class="heading">
			<header class="header">
				<a class="logo" href="index.html" title="Ethic"><strong>Ethic</strong></a>
			</div>
		</header>
		<!-- / heading -->

		<!-- mutual coverage -->
		<div class="hero">
			<div class="hero-baseline">
				<h1 data-sr="enter top, move 10px, over 1s"><strong>Mutual coverage, the new way.</strong></h1>
				<a href="#register" title="Start saving now !" class="btn" data-sr="enter top, move 10px, over 1s, wait 0.2s">Start saving now ! <img src="img/svg/arrow-white.svg" alt="arrow" class="arrow" /></a>
			</div>
			<img src="img/mocks/san-francisco.jpg" alt="San Francisco" class="hero-banner" />
		</div>
		<!-- / mutual coverage -->
		
		<!-- how it works -->
		<section class="content">
			<div class="wrapper">
				<div class="row">
					<h2><strong>How it works</strong></h1>
					<p data-sr="enter top, move 50px, over 1s">Ethic is a platform for consumers with similar property (auto, home...) to directly cover each other’s small claims, and thus rely less on insurance companies for coverage. This results in both smaller monthly premiums and less claims filed with your insurer !</p>
				</div>
			</div>
		</section>
		<!-- / how it works -->
		
		<!-- what make Ethic so great -->
		<section class="content">
			<div class="wrapper">
				<div class="row">
					<h2><strong>What make Ethic so great</strong></h1>
					<div class="box" data-sr="enter top, move 50px, over 1s">
						<img src="img/svg/lower.svg" alt="Lower premiums" />
						<h3><strong>Lower premiums</strong></h3>
						<p>By having a higher carrier deductible, you pay considerably less in premiums each month to your insurer. The only thing you pay on Ethic is a contribution to other’s claims. Nothing else.</p>
					</div>
					<div class="box" data-sr="enter top, move 50px, over 1s, wait 0.2s">
						<img src="img/svg/coverage.svg" alt="Unchanged coverage" />
						<h3><strong>Unchanged coverage</strong></h3>
						<p>In the unwanted case you would have a claim, Ethic members will cover the first part of it, called the deductible. If it is a large claim, your carrier will kick in and cover the rest.</p>
					</div>
					<div class="box" data-sr="enter top, move 50px, over 1s, wait 0.4s">
						<img src="img/svg/better.svg" alt="Better claim experience" />
						<h3><strong>Better claim experience</strong></h3>
						<p>Small claims should not require for you to go through you insurer’s cumbersome process. Claims on Ethic are not reviewed by our employees. They are reviewed by people like you and us who have no incentive against you.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- / what make Ethic so great -->
		
		<!-- see for yourself -->
		<section class="content">
			<div class="wrapper">
				<div class="row">
					<h2><strong>Ethic works with your current carrier!</strong></h1>
					<div class="profil">
						<div class="profil-picture">
							<img src="img/profil/profil-1.jpg" alt="profil-1" />
						</div>
						<ul>
							<li data-sr="enter left, move 20px, over 1s">29 years old</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.1s">Male</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.2s">Toyota Prius</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s">2014</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s">San Francisco</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s"><strong>Insured with Progressive</strong></li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s"><strong>SAVES $277</strong></li>
						</ul>
					</div>
					<div class="profil">
						<div class="profil-picture">
							<img src="img/profil/profil-2.jpg" alt="profil-2" />
						</div>
						<ul>
							<li data-sr="enter right, move 20px, over 1s">40 years old</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.1s">Woman</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.2s">Hyundai Genesis</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s">2011</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s">San Francisco</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s"><strong>Insured with Progressive</strong></li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s"><strong>SAVES $194</strong></li>
						</ul>
					</div>
					<div class="profil">
						<div class="profil-picture">
							<img src="img/profil/profil-3.jpg" alt="profil-3" />
						</div>
						<ul>
							<li data-sr="enter left, move 20px, over 1s">30 years old</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.1s">Male</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.2s">Ford C‐Max</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s">2013</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s">San Francisco</li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s"><strong>Insured with Esurance</strong></li>
							<li data-sr="enter left, move 20px, over 1s, wait 0.3s"><strong>SAVES $459</strong></li>
						</ul>
					</div>
					<div class="profil">
						<div class="profil-picture">
							<img src="img/profil/profil-4.jpg" alt="profil-4" />
						</div>
						<ul>
							<li data-sr="enter right, move 20px, over 1s">42 years old</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.1s">Male</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.2s">Honda Civic</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s">2014</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s">Los Angeles</li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s"><strong>Insured with Geico</strong></li>
							<li data-sr="enter right, move 20px, over 1s, wait 0.3s"><strong>SAVES $193</strong></li>
						</ul>
					</div>
					<small>These are solely estimations based on actual quotes. Savings through Ethic may vary based on multiple factors.</small>
				</div>
			</div>
		</section>
		<!-- / see for yourself -->
		
		<!-- transparency -->
		<section class="content">
			<div class="wrapper">
				<div class="row">
					<h2><strong>Transparency</strong></h1>
					<p data-sr="enter top, move 50px, over 1s">Ethic is built in such a way that the service is fully transparent and fair. We use blockchain technology to keep track of who paid what. In our view, part of the problem today with insurance companies is the lack of transparency: You have no idea where what you paid last month actually went. With Ethic and its technology, what is paid by members goes directly to covering members. And blockchain is the unquestionable proof of that.</p>
				</div>
			</div>
		</section>
		<!-- / transparency -->
		
		<!-- availability -->
		<section class="content availability" id="register">
			<div class="wrapper">
				<div class="row">
					<h2><strong>Availability</strong></h1>
					<p data-sr="enter top, move 50px, over 1s">Ethic will soon start auto collision coverage in California. Let’s stay in touch!</p>
					<form class="form" action="thank.php" data-parsley-validate>
						<fieldset>
							<input type="email" name="mail" placeholder="Your email" required data-required="true" data-trigger="change" data-parsley-type="email"/>
							<button><i class="send"></i></button>
						</fieldset>
					</form>
					<a href="faq.html" title="Have a question ?"><small>Have a question ?</small></a>
				</div>
			</div>
		</section>
		<!-- / availability -->

		<!-- footer -->
		<footer class="footer">Copyright &copy; 2015</footer>
		<!-- / footer -->
		
		<a class="menu" href="#">
			<div class="line">
				<span class="line01"></span>
				<span class="line02"></span>
				<span class="line03"></span>
			</div>
		</a>
				
		<ul class="nav">
			<li><a href="/how-to-get-started" title="How to get started">How to get started</a></li>
			<li><a href="/faq" title="FAQ">FAQ</a></li>
		</ul>
		
	</div>
	<!-- / page -->
	<script src="js/build/main.js"></script>
</body>
</html>
