{% extends 'base_page.html' %}

{% block content %}
<!-- hero -->
<div class="hero">
  <div class="hero-baseline">
    <h1 data-sr="enter top, move 10px, over 1s"><strong>Thank you :-)</strong></h1>
  </div>
</div>
<!-- / hero -->

<!-- thanks -->
<section class="content">
  <div class="wrapper">
    <div class="row">
      <p>We're polishing the last details of our platform.</p>
      <p>We'll launch it very soon and can't wait to have you on board!</p>
    </div>
  </div>
</section>
<!-- / thanks -->
{% endblock %}

{% block scripts %}
<script src="js/build/main.js"></script>
{% endblock %}
