{% extends 'base.html' %}

{% block content %}
<!-- hero -->
<div class="hero">
  <div class="hero-baseline">
    <h1 data-sr="enter top, move 10px, over 1s"><strong>Thank you :-)</strong></h1>
  </div>
</div>
<!-- / hero -->

<!-- thanks -->
<section class="content">
  <div class="wrapper">
    <div class="row">
      <p>
        Ethic is committed to bringing a new fresh approach to the way mutual coverage works.
        We are currently adjusting the final details so that we provide the best service for you.
        We will launch in a few weeks, and we can’t wait to give you early access!
      </p>
      <p>
        In the meantime, don't forget to check out our <a href="{{ contact.blog }}">blog</a>.
      </p>
    </div>
  </div>
</section>
<!-- / thanks -->
{% endblock %}

{% block scripts %}
<script src="{% static "js/build/main.js" %}"></script>
{% endblock %}
