<!doctype html>
<!--[if lt IE 7 ]>  <html lang="fr" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>   <html lang="fr" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>   <html lang="fr" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>   <html lang="fr" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Ethic</title>
  
  <!-- head meta -->
  <% include partials/head-meta.html %>
  <!-- / head meta -->

  <link rel="stylesheet" href="css/normalize.css" /> 
  <link rel="stylesheet" href="css/screen.css" /> 
  <script src="js/build/modernizr.js"></script>


</head>
<body class="home-page">

  <!-- page -->
  <div class="page">
    
    <div class="overlay"></div>

    <!-- heading -->
    <div class="heading">
      <header class="header">
        <a class="logo" href="/" title="Ethic"><strong>Ethic</strong></a>
      </div>
    </header>
    <!-- / heading -->

    <!-- mutual coverage -->
    <div class="hero">
      <div class="hero-baseline">
        <h1 data-sr="enter top, move 10px, over 1s"><strong>Thank you :-)</strong></h1>
      </div>
    </div>
    <!-- / mutual coverage -->
    
    <!-- thanks -->
    <section class="content">
      <div class="wrapper">
        <div class="row">
          <p>We're polishing the last details of our platform.</p>
          <p>We'll launch it very soon and can't wait to have you on board!</p>
        </div>
      </div>
    </section>
    <!-- / thanks -->

    <!-- footer -->
    <footer class="footer">Copyright &copy; 2015</footer>
    <!-- / footer -->
    
    <a class="menu" href="#">
      <div class="line">
        <span class="line01"></span>
        <span class="line02"></span>
        <span class="line03"></span>
      </div>
    </a>
        
    <ul class="nav">
      <li><a href="/how-to-get-started" title="How to get started">How to get started</a></li>
      <li><a href="/faq" title="FAQ">FAQ</a></li>
    </ul>
    
  </div>
  <!-- / page -->
  <script src="js/build/main.js"></script>

</body>
</html>
